APP_NAME=RLIProject
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1/

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=irc-db
DB_PORT=3306
DB_DATABASE=ircproject
DB_USERNAME=rli
DB_PASSWORD=123
PMA_USERNAME=phpmyadmin
PMA_PASSWORD=456

SUBNET_IPRANGE=172.16.238.0/24
NETWORK_GATEWAY=172.16.238.1

NGINX_VERSION=1.21.6
PHP_VERSION=7.4
COMPOSER_VERSION=1.8.6
MARIADB_VERSION=10.8.2
PHPMYADMIN_VERSION=5.0.2

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
FILESYSTEM_DRIVER = public
SESSION_DOMAIN=127.0.0.1:8000

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

DISCORD_KEY=
DISCORD_SECRET=
DISCORD_REDIRECT_URI=http://127.0.0.1:8000/login/discord/callback
DISCORD_BOT_KEY=
IRC_GUILD=
PROFILES_CHANNEL=
NOTIFICATION_CHANNEL=

PS_ROLE=
XBOX_ROLE=
MEMBER_ROLE=
APPLICANT_ROLE=
STEAM_API_KEY=