
*.log
.env
node_modules/
vendor/
setup/
composer.lock
.vscode
.DS_Store
service-account-credentials.json
storage/backups/*
storage/signups/*
_ide_helper.php
_ide_helper_models.php
build/prod/dump.sql