.loaderCircle{
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dropdown:hover > .dropdown-content {
    display: block;
    z-index: 100;
}
.box {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}
.profileDropdown {
  display: none;
  position: absolute;
  right: 10px;
}
.popover__title {
  font-size: 24px;
  line-height: 0px;
  text-decoration: none;
  color: rgb(228, 68, 68);
  text-align: center;
  padding: 0px 0;
}
.popover__wrapper {
  position: fixed;
  bottom: 34px;
  right: 0;
  margin-top: 1.5rem;
  display: inline-block;
}
.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -290px;
  transform: translate(100, -500px);
  /* background-color; */
  padding: 1.5rem;
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); */
  width: auto;
}
.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 11px);
  top: -8px;
  border-style: solid;
  border-color: transparent transparent #bfbfbf transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -630px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
  text-align: center;
}
.clearfixFooter{
  height: 55px;
}
.clearfixFooter {
  height: 130px;
}
.mainContent{
  min-height: 72vh;
}
@media only screen and (max-width: 600px) {
  .clearfixFooter {
    height: 160px;
  }
}